h1{
    color:blue;
    text-align: center;
}


body{
    background-image: url("https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80;")
  }
  .button{
      backdrop-filter: blur(20px);
      
  }